h1{
    position: relative;
}

h1::before{
    content: "-: Hello World :-";
    width: 100%;
    color: #41E2BA;
    position: absolute;
    top: 0;
    left: 0;
    border-right: .4rem solid;
    animation: slide 3s linear infinite;
    overflow: hidden;
}