h1{
    position: relative;
}

h1::before{
    content: "-:HelloWorld:-";
    width: 100%;
    color: #41E2BA;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 0.4rem solid;
    animation: slide 3s linear infinite;
    overflow: hidden;
}

@keyframes slide{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}